.footer-wrap {
  position: relative;
  background-color:#054C89;
}

.p-button:focus.fdbtn, .p-button:focus.clrbtn {
  box-shadow: unset;
}

.p-button.p-button-text:not(:disabled):hover.fdbtn, .p-button.p-button-text:not(:disabled):hover.clrbtn {
  background: transparent;
}

.clrbtn {
  transition: transform .5s;
  transition-delay: .2s;
}

.pop-direction-item {
  transition: transform .3s;
  transition-delay: .1s;
}

.clrbtn:hover {transform: rotate(360deg);}

.pop-direction-item:hover {transform: translateY(-6px);}

/* .descr {
  transition: opacity .6s ease-in-out;
  transition-delay: .3s;
}

.pop-direction-item:hover .descr {
  opacity: 0;
} */

.p-menuitem.p-menuitem-active {
  background-color: #FE7E25 !important;
}

.p-menuitem-content:hover {
  background-color: #FD9741 !important;
}

@media (min-width: 1349px) {
  .action-form-bg {
    background: url(/call.png) 52% 62%/150px 150px no-repeat, linear-gradient(90deg, #004470 0, #0072bc 20%, #0072bc 80%, #004470) !important;
  }
}

@media (max-width: 1280px) {
  .action-form-bg {
    background: linear-gradient(90deg, #004470 0, #0072bc 20%, #0072bc 80%, #004470) !important;
  }
}

@media (max-width: 932px) {
  .p-menuitem.p-menuitem-active {
    background-color: #E5E7EB !important;
  }
}
