.footer-wrap {background-color:#054C89;}

.p-button:focus.fdbtn, .p-button:focus.clrbtn {
  box-shadow: unset;
}

.p-button.p-button-text:not(:disabled):hover.fdbtn, .p-button.p-button-text:not(:disabled):hover.clrbtn {
  background: transparent;
}

.clrbtn {
  transition: transform .5s;
  transition-delay: .2s;
}

.clrbtn:hover {transform: rotate(360deg);}

.pop-direction-item:hover {opacity: .9;}
